extends ../layout

block content
	div.row
		div.container
			div.col-md-8.col-md-offset-2.queue-container
				div.queue-header
					h3 Queue List 
				ul
					for queue in queues
						a(href='/queue/#{queue}') 	
							li #{queue}
