ul#menu
  for q in queues
    li.title(class= queue.name === q.name ? "current" : undefined)
      a(href="/queues/#{q.name}/wait")
        | #{q.name}
      .counters
        for state in states
          span(class=state.key)
            | &nbsp; #{q[state.key]}