body {
  padding-left: 120px;
  font: 13px "helvetica neue", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(223, 230, 234, 0.6);
  color: #666;
}
h1,
h2,
h3 {
  margin: 0 0 25px 0;
  padding: 0;
  font-weight: normal;
  text-transform: capitalize;
  color: #97A1A7;
}
h2 {
  font-size: 16px;
  margin-top: 20px;
}
pre {
  margin-top: 20px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
table tr td {
  padding: 2px 5px;
}
#menu {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 180px;
  background: rgb(40, 49, 65);
  border-right: 1px solid #232323;
  -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.5);
  box-shadow: 0 0 0 1px rgba(255,255,255,0.5);
  overflow-y: scroll;
}
#menu * {
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
    user-select: none;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
}
#menu ul {
  padding-left: 0px;
  margin: 10px 0px;
}
#menu li {
  margin: 0;
  list-style: none;
  position: relative;
}
#menu li.title {
  background-color: rgb(36, 44, 58);
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 0px 10px 20px;
  margin-bottom: 6px;
}
#menu li.title.active {
  border-left: solid 3px #3090F9;
}
#menu ul li a {
  display: block;
  margin: 0px 0px;
  padding: 10px 0px 10px 20px;
  color: #8F9BB1;
  font-weight: bold;
  font-size: 12px;
  text-align: left;
}
#menu li a:hover {
  padding: 10px 0px 10px 20px;
  background: rgb(36, 44, 58);
  text-decoration: none;
}
#menu li a:active,
#menu li.selected a {
  color: #fff;
}
#menu li.selected a:hover {
  padding: 10px 0px 10px 20px;
}

#job-template {
  display: none;
}
.top-bar {
  border-bottom: solid 2px #DFE1E5;
  background-color:  #fff;
}
.top-bar h1 {
  color: #97A1A7;
  font-size: 22px;
  text-align: center;
  padding-top: 31px;
}
.top-bar .glyphicon {
  color: #97A1A7;
  font-size: 22px;
  text-align: center;
  padding: 20px 20px 0px 0px;
}
#accordion {
  background-color: #fff;
  border-radius: 4px;
  margin-top: 30px;
}
#accordion .accordion-header {
  background-color: #5c6983;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  height: 40px
}
#accordion .accordion-header h3 {
  color: #fff;
  font-size: 18px;
  padding: 10px 0px 10px 20px;
}
#accordion .panel {
  height: 40px;
  border: none;
  box-shadow: none;
}
#accordion .panel-default {
  padding: 20px 10px;
  padding-bottom: 30px;
  border-bottom: solid 1px #DFE1E5;
  border-radius: 0px;
}
#accordion .panel-default:last-child {
  border-bottom: none;
}
#accordion .panel-default div {
  /*width: 80%;*/
  display: inline-block;
}
#accordion .panel-default .job-data {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  overflow:hidden;
  white-space:nowrap;
}
#accordion .panel-collapse {
  background-color: #fff;
  line-height: 30px
}
#accordion .panel-collapse p {
  margin: 10px;
}
.load-more {
  text-align: center;
  margin-bottom: 80px;
}
.load-more a button {
  color: #fff;
}

/* Queue list */
.queue-container {
  background-color: #fff;
  border-radius: 4px;
  margin-top: 60px;
  padding: 0px;
}
.queue-container .queue-header {
  background-color: #5c6983;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  height: 40px
}
.queue-container .queue-header h3 {
  color: #fff;
  font-size: 18px;
  padding: 10px 0px 10px 20px;
}
.queue-container ul {
  padding: 0px;
  margin: 0px;
}
.queue-container li {
  list-style: none;
  height: 50px;
  padding: 16px 0px 0px 20px;
  border-bottom: solid 1px #DFE1E5;
}
.queue-container ul a:last-child li {
  border-bottom: none;
}
.queue-container ul a:hover {
  text-decoration: none;
}
.job {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.job-updated {
  margin-right: 10px;
  color: #97a1a7;
}
.retry-job, .remove-job {
  margin-left: 10px;
}
.error {
  color: #bd2c2c;
}
a.job-item:hover {
  text-decoration: none;
}
.error {
  margin-left: 10px;
}
#arrow {
  color: #fff;
  height: 6px;
  width: 10px;
  float: right;
  margin: 5px 10px 0px 0px;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}
.up {
  transform: rotate(90deg);
  color: red;
}
.retry-all-jobs, .retry-all-jobs:hover, .remove-all-jobs, .remove-all-jobs:hover {
  color: #fff;
  font-size: 13px;
  line-height: 24px;
  margin-right: 5px;
}
#accordion.panel-group p.job-detail {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  margin: 0;
  padding-left: 30px;
}